:root {
  --tab-color: #242424;
}

.achievement-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.achievement-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0px 10px 10px 10px;
  background-color: var(--tab-color);
  padding: 10px;
  border-radius: 10px;
}

.scroll-content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.search-bar{
    display: flex;
    padding: 10px;
    font-size: 16px;
    
    border: none;
    border-radius: 5px;
    width: 300px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin:5px ;
}
.search-bar-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin:5px ;
}


.tab-container {
    display: flex;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 20px 20px 0 20px;
}

.tab-container button{

  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
   cursor: pointer ;
   border-radius: 10px 10px 0  0 ;
   margin-top: auto;
}

.tab-container button.active{
  background-color: var(--tab-color);
}

.tab-container button:hover {
  border: none;
  padding: 10px 20px;
}


.toggle-button {
display: flex ;
margin-left: auto;
background-color: var(--tab-color) !important;

}