.achievement {
  background-color: var(--background-component-color1 );
  border-radius: 10px;
  padding: 20px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color)
}

.achievement img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.achievement button {
  padding: 10px 20px;
  display: flex;
  flex: 1;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--text-color);
  cursor: pointer;
}
.achievement-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.achievement-conatiner {
  padding: 10px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.list-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;

}