.achievement {
  background-color: #696969;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.achievement-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.achievement-conatiner {
  padding: 10px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.list-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}