.achievement-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.achievement-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0px 10px 10px 10px;
  background-color: var(--background-component-color);
  padding: 10px;
  border-radius: 10px;
}

.scroll-content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.topBarContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-component-color);
  border-radius: 10px;
  gap: 15px;
}

.addAchievementContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 16px;
  border-radius: 5px;
  gap: 10px;
  box-sizing: border-box;
  padding: 15px 15px 15px 0px;
}

.addAchievementContainer input,
.addAchievementContainer select,
.addAchievementContainer button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--background-component-color1);
}

.addAchievementContainer button {
  flex: 1;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--main-color);
  margin: 0;
}

.searchBarContainer {
  display: flex;
  flex: 1;
  padding: 15px 0px 15px 15px;
  gap: 10px;
}

.search-bar {
  display: flex;
  flex: 1;
  align-items: start; 
  gap: 10px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--background-component-color1);
}
.search-bar-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  margin: 0;
  background-color: var(--main-color);
}

.tab-container {
  display: flex;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  padding: 20px 20px 0 20px;
}

.tab-container button {
  background-color: transparent;
  color: var(--header-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  margin-top: auto;
}

.tab-container button h4 {
  margin: 0;
}

.tab-container button.active {
  background-color: var(--background-component-color);
}

.tab-container button:hover {
  border: none;
  padding: 10px 20px;
}

.toggle-button {
  display: flex;
  margin-left: auto;
  background-color: var(--background-component-color) !important;
}
