.menuButton {
  display: flex; /* 🔥 important */
  align-items: center; /* vertical alignment */
  gap: 10px;

  width: 100%;
  padding: 10px;

  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
  background: transparent;
}

.menuButton:hover {
  background: #444;
}

.active {
  background: #555;
}

.menuSidebar {
  display: flex;
  flex-direction: column;
  background: #1b1b1b;
  color: #fff;
}

.menuSidebar.closed {
  width: 45px;
  transition: 0.3s;
}

.menuSidebar.open {
  width: 220px;
  transition: 0.3s;
}

.mainContent {
  display: flex;
  flex: 1;
  width: 1126px;
  margin: 0 auto;
}

.topBar {
  display: flex;
  flex-direction: row;
}

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Keeps it above other elements */
  height: 60px;
  background-color: rgba(0, 0, 0, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  /* Added properties */
   width: 1126px;

  color: #f85e00;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;

  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
}

.siteTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid rgb(0, 255, 42); */

  padding: 0;
  margin: 0;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li {
  display: flex;
  align-items: center;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.topBannerBar {
  width: 100%;
  height: 50vh;
  background-color: orange;
}

.topBannerBar image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crops image to fill space without stretching */
  object-position: center; /* Centers the image */
}
